<%-include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%-include('../partials/navigation.ejs') %>
    <main>
        <form class="login-form" action='/new-password' method="POST">
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
                <span class="error"> <%if(typeof getError !== 'undefined'){ %><%= getError(errors ,'password')%><%}%></span>
            </div>
            <div class="form-control">
                <label for="passwordConfirmation">Confirm Password</label>
                <input type="password" name="passwordConfirmation" id="passwordConfirmation">
                <span class="error"> <%if(typeof getError !== 'undefined'){ %><%= getError(errors ,'passwordConfirmation')%><%}%></span>
            </div>
            <input type="hidden" name="token" value="<%if(typeof token !== 'undefined'){ %><%=token%><%}%>">
                     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit"> Update Password</button>
        </form>
    </main>
    <%-include('../partials/footer.ejs') %>